go 1.19

use (
	./card-tricks
	./need-for-speed
	./party-robot
	./vehicle-purchase
	./bird-watcher
	./animal-magic
	./lasagna-master
	./booking-up-for-beauty
	./blackjack
	./gross-store
	./chessboard
	./election-day
)
